.postpage-container {
  margin: 0 auto;
  border-radius: 28.432px;
  border: 4.739px solid #d9d9d9;
  background: #fff;
}
.postpage-main-image {
  display: flex;
  width: 75%;
  height: 527.181px;
  flex-shrink: 0;
  border-radius: 28.432px;
  border: 4.739px solid #d7d7d7;
}
.postpage-image-list {
  width: 25%;
  display: flex;
  width: 94.774px;
  height: 379.096px;
  padding-top: 15.401px;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 16.585px;
  flex-shrink: 0;
}
.post-image-item {
  width: 94.774px;
  height: 94.774px;
  flex-shrink: 0;
  border-radius: 11.847px;
  border: 2.739px solid #d7d7d7;
}
.postpage-details-top {
  display: flex;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-top: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
  gap: 28.432px;
  flex-shrink: 0;
}
.postpage-details-title-text {
  display: inline;
  color: var(--black-700-black, #121212);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Alata;
  font-size: 39.864px;
  font-style: normal;
  font-weight: 400;
  line-height: 45.589px;
}
.postpage-details-price-container {
  display: flex;
  width: 90.035px;
  height: 52.126px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.postpage-details-price-text {
  color: #000;
  font-family: Alata;
  font-size: 37.91px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
}
.postpage-details-bottom {
  padding-left: 40px;
  padding-right: 40px;
  min-height: 150px;
}
.postpage-details-bottom-title {
  color: #000;
  font-family: Alata;
  font-size: 22.432px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.postpage-details-bottom-des {
  color: #555;
  font-family: Alata;
  font-size: 18.955px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.postpage-btn-text {
  color: #fff;
  font-family: Alata;
  font-size: 15.732px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
}

.postpage-details-cate {
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 10px;
}
.postpage-details-cate-title {
  color: #000;
  font-family: Alata;
  font-size: 28.432px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: inline;
  padding-right: 10px;
}
.postpage-details-cate-des {
  color: #555;
  font-family: Alata;
  font-size: 18.955px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline;
}
.postpage-details-product-title {
  color: #000;
  font-family: Alata;
  font-size: 22.432px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: inline;
  padding-right: 10px;
}

.postpage-popup-title {
  padding-right: 15px;
  color: #000;
  font-family: Alata;
  font-size: 28.432px;
  font-style: normal;
  font-weight: 400;
  display: inline;
}
.postpage-popup-des {
  color: #555;
  font-family: Alata;
  font-size: 18.955px;
  font-style: normal;
  display: inline;
}

@media (max-width: 600px) {
  .postpage-image-list {
    flex-direction: row;
    justify-content: center;
    height: 100px;
    gap: 5px;
  }
}
