.swiperP {
  width: 100%;
  height: 100%;
}

.swiper-slideP {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slideP img {
  display: block;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiperP {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slideP {
  background-size: cover;
  background-position: center;
}

.mySwiper2P {
  height: 80%;
  width: 100%;
}
.swiper-wrapper {
  width: auto;
}

.mySwiperP {
  height: 20%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px 0;
  overflow: visible;
}

.mySwiperP .swiper-slideP {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiperP .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slideP img {
  box-shadow: none;
  display: block;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1199px) {
  .swiper-slideP {
    height: auto;
  }
}

@media (max-width: 500px) {
  .swiper-slideP {
    height: auto;
  }
}
